* {
  box-sizing: border-box;
}

html,
body {
  user-select: none;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

button {
  cursor: pointer;
}

.main-div {
  margin: auto;
  width: 60%;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.header {
  padding: 1px 20px;
  background-image: url(images/burger-bg.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  font-size: small;
  color: white;
}

.each-item {
  margin: 0 10px;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  border-bottom: 1px solid rgb(194, 194, 194);
}

.item-emo {
  padding: 0;
  margin: 13px;
  font-size: 50px;
}

.inner-div {
  display: block;
  font-size: 13px;
}

.item-ing {
  font-size: 16px;
}

.item-price {
  font-size: 18px;
  font-weight: bold;
}

.add-btn {
  padding: 2px 10px;
  font-size: 30px;
  color: gray;
  border-radius: 50%;
  background-color: white;
  margin-left: auto;
  border: none;
}

.add-btn:hover {
  background-color: rgb(78, 179, 137);
  color: white;
}

.order {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.main-order h1 {
  display: flex;
  flex-direction: column;
}

.main-order h1,
.main-order button {
  display: flex;
  text-align: center;
  margin: auto;
}

.total {
  border-top: 1px solid black;
  font-size: 30px;
  font-weight: bold;
}

.list {
  font-size: 25px;
  font-weight: bold;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.list button {
  font-size: 20px;
  background-color: white;
  color: rgb(250, 143, 143);
  font-weight: bold;
  padding: 5px 10px;
  border: none;
  border-radius: 50%;
  margin-left: 5px;
  margin-top: 25px;
}

.list button:hover {
  text-shadow: 0 0 5px rgb(255, 0, 0);
  color: rgb(255, 0, 0);
}
.list button:active {
  text-shadow: 0 0 5px rgb(255, 0, 0);
  color: rgb(255, 0, 0);
}

#complete-btn {
  color: azure;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  margin: 20px auto;
  align-items: center;
  text-align: center;
  padding: 10px 25px;
  background-color: rgb(131, 131, 216);
}

#complete-btn:hover {
  background-color: rgb(78, 179, 137);
}

.form {
  position: fixed;
  display: flex;
  flex-direction: column;
  gap: 30px;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  width: 300px;
  height: 500px;
  padding: 25px;
  border-radius: 10px;
  background-color: rgb(78, 179, 137);
  box-shadow: 1px 1px 30px 3px rgb(0, 0, 0);
}

#close-btn {
  position: fixed;
  top: 1;
  left: 1;
  border: none;
  border-radius: 50%;
  color: red;
}

#close-btn:hover {
  background-color: rgb(255, 124, 124);
  color: white;
}

.form p {
  color: rgb(255, 255, 255);
  font-size: 40px;
  text-align: center;
  font-weight: bold;
  text-shadow: 0 0 10px black;
}

.form input {
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
}

.pay-button {
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 20px;
  background-color: lightblue;
  border: 3px solid lightblue;
  padding: 10px 40px;
  border-radius: 15px;
  text-shadow: 0 0 15px rgb(255, 255, 255);
}

.form .pay-button:hover {
  background-color: rgb(57, 108, 126);
  border: 3px solid rgb(57, 108, 126);
  color: white;
}

.thanks {
  color: rgb(78, 179, 137);
  text-align: center;
  font-size: 35px;
  text-shadow: 0 0 0.5px black;
}

.thanks span {
  color: rgb(62, 121, 96);
  font-weight: bold;
  text-shadow: 0 0 0.5px rgb(255, 255, 255);
}
