* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  line-height: 1.6;
  user-select: none;
  margin: 0;
  font-family: 'Shadows Into Light', cursive;
  font-weight: bold;
  background-color: rgb(27, 27, 27);
}

button {
  cursor: pointer;
  font-family: inherit;

}

.main-div {
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(236, 236, 236);
}

.header {
  display: flex;
  font-weight: bold;
  letter-spacing: 3px;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  padding: 1.5em;
  background-image: url(images/burger-bg.jpg);
  background-position: center;
  background-size: cover;
  color: white;
}

.header-text {
  margin: 0;
}

.each-item {
  padding: .5em 1.5em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  border-bottom: 1px solid rgb(194, 194, 194);
  letter-spacing: 2px;

}

.item-emo {
  padding: 0;
  margin: 0;
  font-size: 3em;
}

.inner-div {
  display: flex;
  flex-direction: column;
  padding: 0 1em;
  font-size: 1rem;
  margin: auto 0;
}

.item-price,
.item-ing,
.item-name {
  margin: .2em 0;
}

.item-price {
  font-weight: bold;
  font-size: 1.4rem;
}

.add-btn {
  padding: 0.2em 0.5em;
  margin: auto 0 auto auto;
  font-size: 2rem;
  font-weight: bold;
  color: rgb(57, 108, 126);
  border-radius: 50%;
  background-color: rgb(248, 248, 248);
  border: none;
}

.add-btn:hover {
  background-color: rgb(57, 108, 126);
  color: white;
}

.order {
  padding: 2em;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.main-order h1 {
  display: flex;
  flex-direction: column;
  font-size: 3rem;
  color: rgb(57, 108, 126);
}

.main-order h1,
.main-order button {
  display: flex;
  text-align: center;
  margin: auto;
}

.total {
  border-top: 1px solid black;
  font-size: 2.5rem;
  font-weight: bold;
  color: rgb(57, 108, 126);
  font-weight: bold;
}

.list {
  font-size: 25px;
  font-weight: bold;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

}

.list p,
.list button {
  margin: 0;
  padding: .2em;

}

.list button {
  font-size: .8em;
  background-color: #ECECEC;
  color: rgb(255, 0, 0);
  font-weight: bold;
  border: none;
  margin-right: auto;
}

.list button:hover {
  color: rgb(250, 143, 143);
}

#complete-btn {
  color: rgb(57, 108, 126);
  font-weight: bold;
  border: none;
  border-radius: 7px;
  font-size: 1.7rem;
  font-weight: bold;
  margin: 20px auto;
  align-items: center;
  text-align: center;
  padding: 10px 25px;
  background-color: white
}

#complete-btn:hover {
  background-color: rgb(57, 108, 126);
  color: white;
}

.form {
  position: fixed;
  display: flex;
  flex-direction: column;
  gap: 30px;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  width: 250px;
  height: 430px;
  padding: 18px;
  border-radius: 10px;
  background-color: rgb(57, 108, 126);
  box-shadow: 1px 1px 30px 3px rgb(0, 0, 0);
}

#close-btn {
  background-color: #ECECEC;
  font-size: 1.3rem;
  padding: 0.1rem 0.5rem;
  text-align: center;
  font-weight: bold;
  position: fixed;
  top: .5;
  left: .5;
  border: none;
  border-radius: 70%;
  color: red;
}

#close-btn:hover {
  color: rgb(255, 255, 255);
  background-color: #fc6e6e;

}

.form p {
  color: rgb(255, 255, 255);
  margin: 0.5em;
  font-size: 2.5rem;
  text-align: center;
  font-weight: bold;
  text-shadow: 0 0 10px black;
}

.form input {
  font-family: inherit;
  border: none;
  border-radius: 6px;
  padding: 0.5em;
  letter-spacing: 3px;
}

.pay-button {
  margin: 0 auto;
  width: 40%;
  color: rgb(57, 108, 126);
  font-weight: bold;
  font-size: 2rem;
  background-color: rgb(255, 255, 255);
  border: none;
  padding: .3em 0.7em;
  border-radius: 50%;
  text-shadow: 0 0 15px rgb(255, 255, 255);
}

.form .pay-button:hover {
  background-color: rgb(57, 108, 126);
  border: 3px solid rgb(57, 108, 126);
  color: white;
  font-size: 3rem;
  width: 40%;
  padding: 0;
  margin: 0 auto;
}

.thanks {
  color: rgb(78, 179, 137);
  text-align: center;
  font-size: 35px;
  text-shadow: 0 0 0.5px black;
}

.thanks span {
  color: rgb(250, 180, 58);
  font-size: 4rem;
  letter-spacing: 7px;
  text-shadow: 0 0 0.5px rgb(23, 0, 0);
}

@media (min-width: 600px) {
  .main-div {
    min-width: 500px;
    width: 40%;
  }
}