* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  line-height: 1.6;
  user-select: none;
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: rgb(255, 245, 233);
}

button {
  cursor: pointer;
}

.main-div {
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  padding: 1.5em;
  background-image: url(images/burger-bg.jpg);
  background-position: center;
  background-size: cover;
  color: white;
}

.header-text {
  margin: 0;
}

.each-item {
  padding: .5em 1.5em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  border-bottom: 1px solid rgb(194, 194, 194);
}

.item-emo {
  padding: 0;
  margin: 0;
  font-size: 3em;
}

.inner-div {
  display: flex;
  flex-direction: column;
  padding: 0 1em;
  font-size: 1rem;
  margin: auto 0;
}

.item-price,
.item-ing,
.item-name {
  margin: .2em 0;
}

.item-price {
  font-weight: bold;
}

.add-btn {
  padding: 0.2em 0.5em;
  margin: auto 0 auto auto;

  font-size: 2rem;
  color: rgb(38, 131, 1);
  border-radius: 50%;
  background-color: rgb(248, 248, 248);
  border: none;
}

.add-btn:hover {
  background-color: rgb(78, 179, 137);
  color: white;
}

.order {
  padding: 2em;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.main-order h1 {
  display: flex;
  flex-direction: column;
}

.main-order h1,
.main-order button {
  display: flex;
  text-align: center;
  margin: auto;
}

.total {
  border-top: 1px solid black;
  font-size: 30px;
  font-weight: bold;
}

.list {
  font-size: 25px;
  font-weight: bold;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.list p,
.list button {
  margin: 0;
  padding: .2em;
}

.list button {
  font-size: .8em;
  background-color: white;
  color: rgb(255, 0, 0);
  font-weight: bold;
  border: none;
  margin-right: auto;
}

.list button:hover {
  color: rgb(250, 143, 143);
}

#complete-btn {
  color: azure;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  margin: 20px auto;
  align-items: center;
  text-align: center;
  padding: 10px 25px;
  background-color: rgb(131, 131, 216);
}

#complete-btn:hover {
  background-color: rgb(78, 179, 137);
}

.form {
  position: fixed;
  display: flex;
  flex-direction: column;
  gap: 30px;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  width: 250px;
  height: 450px;
  padding: 25px;
  border-radius: 10px;
  background-color: rgb(78, 179, 137);
  box-shadow: 1px 1px 30px 3px rgb(0, 0, 0);
}

#close-btn {
  position: fixed;
  top: 1;
  left: 1;
  border: none;
  border-radius: 50%;
  color: red;
}

#close-btn:hover {
  background-color: rgb(255, 124, 124);
  color: white;
}

.form p {
  color: rgb(255, 255, 255);
  font-size: 30px;
  text-align: center;
  font-weight: bold;
  text-shadow: 0 0 10px black;
}

.form input {
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
}

.pay-button {
  margin: 0;
  width: 100%;
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 20px;
  background-color: lightblue;
  border: 3px solid lightblue;
  padding: .3em 0.7em;
  border-radius: 15px;
  text-shadow: 0 0 15px rgb(255, 255, 255);
}

.form .pay-button:hover {
  background-color: rgb(57, 108, 126);
  border: 3px solid rgb(57, 108, 126);
  color: white;
}

.thanks {
  color: rgb(78, 179, 137);
  text-align: center;
  font-size: 35px;
  text-shadow: 0 0 0.5px black;
}

.thanks span {
  color: rgb(62, 121, 96);
  font-weight: bold;
  text-shadow: 0 0 0.5px rgb(255, 255, 255);
}

@media (min-width: 600px) {
  .main-div {
    min-width: 500px;
    width: 40%;
  }
}